{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:jsx-a11y/recommended"],
  "plugins": ["prettier", "react-hooks", "jsx-a11y"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": "warn",
    "spaced-comment": "off",
    "prettier/prettier": ["warn"],
    "indent": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": "off"
  }
}
